*{
	margin: 0;
	padding:0;
}
html,body{
    height: 100%;
    width: 100%;
}
body{
	background: url(../img/login-bg.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
    font-family: sans-serif;
    background-color: rgba(0, 22, 45, 1);;
}
.contact-form {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: rgba(0, 22, 45, .6);
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0 0 20px rgba(0,0,0, .5);
}
section.content img {
    width: 100px;
    left: 50%;
    position: absolute;
    margin-left: -50px;
    top: 0;
    margin-top: -50px;
}
.content h1{
    text-align: center;
    margin: 30px 0px;
    color: #fff;
    font-weight: 700;
    letter-spacing: -0.05em;
    line-height: 20px;
    position: relative;
}
.content h1:before,
.content h1:after {
    content: "";
    height: 1px;
    position: absolute;
    top: 10px;
    width: 27%;
}

.content h1:after {
    background: rgb(126, 126, 126);
    background: -moz-linear-gradient(left, rgba(126, 126, 126, 1) 0%, rgba(255, 255, 255, 1) 100%);
    background: -webkit-linear-gradient(left, rgba(126, 126, 126, 1) 0%, rgba(255, 255, 255, 1) 100%);
    background: -o-linear-gradient(left, rgba(126, 126, 126, 1) 0%, rgba(255, 255, 255, 1) 100%);
    background: -ms-linear-gradient(left, rgba(126, 126, 126, 1) 0%, rgba(255, 255, 255, 1) 100%);
    background: linear-gradient(left, rgba(126, 126, 126, 1) 0%, rgba(255, 255, 255, 1) 100%);
    right: 0;
}

.content h1:before {
    background: rgb(126, 126, 126);
    background: -moz-linear-gradient(right, rgba(126, 126, 126, 1) 0%, rgba(255, 255, 255, 1) 100%);
    background: -webkit-linear-gradient(right, rgba(126, 126, 126, 1) 0%, rgba(255, 255, 255, 1) 100%);
    background: -o-linear-gradient(right, rgba(126, 126, 126, 1) 0%, rgba(255, 255, 255, 1) 100%);
    background: -ms-linear-gradient(right, rgba(126, 126, 126, 1) 0%, rgba(255, 255, 255, 1) 100%);
    background: linear-gradient(right, rgba(126, 126, 126, 1) 0%, rgba(255, 255, 255, 1) 100%);
    left: 0;
}
.login-ipbox{
	position: relative;
    margin-bottom: 15px;
}
.login-ipbox label {
    display: block;
    font-size: 20px;
    margin-bottom: 10px;
    color: #fff;
    font-weight: 700;
}
#email,
#password {
    width: 250px;
    padding: 10px;
    color: #000;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.login-submit-box {
    text-align: center;
}

.login-submit-box button {
    padding: 10px 30px;
    font-size: 20px;
    font-weight: 700;
    background: #216dd9;
    border-radius: 30px;
    margin-bottom: 15px;
    position: relative;
    height: 44px;
    border: none;
    color: #fff;
    cursor: pointer;
}
.login-submit-box button:active{
    outline: 0;
}
.button {
    text-align: center;
}
.button a {
    display: block;
    text-decoration: none;
    font-size: 20px;
    color: #fff;
}